# * Configuration de base

# Port sur lequel l'application va écouter 
PORT=XXXX 

# URL de connexion à la base de données PostgreSQL
# Remplacer DB_USER, DB_PASSWORD, DB_SERVER et database par vos valeurs 
PG_URL="postgresql://DB_USER:DB_PASSWORD@DB_SERVER/database"

# Nom d'hôte ou adresse IP du serveur
HOST=host

# * Configuration de sécurité

# Environnement de l'application (développement, production, ...)
NODE_ENV="environment"

# Clé secrète pour la génération et la vérification des tokens JWT (remplacer par votre clé secrète)
JWT_SECRET="cle_secrete"

# Protocole utilisé par l'application (http ou https)
PROTOCOL=protocol

# Clé API pour sécuriser l'accès à l'API
API_KEY=your-secure-api-key

# Clé secrète pour la gestion des sessions Express
SESSION_SECRET="votre_secret_de_session"

# Liste des origines autorisées pour les requêtes CORS, séparées par des virgules
ALLOWED_ORIGINS=http://example1.com,http//example2.com

# * Stripe

# Port utilisé pour le serveur Stripe Webhook
STRIPE_PORT=XXXX

# Clé publique Stripe (utilisée côté client)
STRIPE_PUBLISHABLE_KEY="pk_test_..."

# Clé publique Stripe (utilisée côté serveur)
STRIPE_SECRET_KEY="sk_test_..."

# * SMTP (configuration pour l'envoi d'emails)
# Adresse email utilisée pour envoyer (Gmail par exemple)
EMAIL_USER=votre_adresse@gmail.com

# Mot de passe pour l'email
EMAIL_PASSWORD=votre_mot_de_passe

# # * Memcached (sessions)
# L'hôte et le port utilisé pour memcached
MEMCACHED_HOST=host
# Le mot de passe utilisé pour se connecter à l'hôte
MEMCACHED_SECRET=secret_memcached_key_memcached