PORT=XXXX

STRIPE_PORT=XXXX

PG_URL="postgresql://DB_USER:DB_PASSWORD@DB_SERVER/database"

JWT_SECRET="cle_secrete"

API_KEY=your-secure-api-key

SESSION_SECRET="votre_secret_de_session"

EMAIL_USER=votre_adresse@gmail.com

EMAIL_PASSWORD=votre_mot_de_passe

STRIPE_PUBLISHABLE_KEY="pk_test_..."

STRIPE_SECRET_KEY="sk_test_..."

