<!DOCTYPE html>
<html>
<head>
    <title>Confirmation de Création de Compte</title>
</head>
<body>
    <h1>Bonjour {{firstname}},</h1>
    <p>Votre compte a été créé avec succès.</p>
    <p>Merci de nous rejoindre!</p>
    <h2>GreenRoots, parce qu’un arbre planté aujourd’hui est une forêt pour demain.</h2>
</body>
</html>
