<!DOCTYPE html>
<html>
<head>
    <title>Changement de mot de passe</title>
</head>
<body>
    <h1>Bonjour {{firstname}},</h1>
    <p>Voici le lien pour modifier votre mot de passe :</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque earum veritatis sit qui quisquam dicta? Iure quod minima explicabo, qui, autem ex, dolor voluptatem porro at molestias ducimus eius inventore!</p>
    <p>Si vous n'êtes pas à l'origine de cette demande veuillez contacter le support immédiatement !!</p>
    <h2><strong>GreenRoots, parce qu’un arbre planté aujourd’hui est une forêt pour demain.</strong></h2>
</body>
</html>