<!DOCTYPE html>
<html>
<head>
    <title>Confirmation de commande</title>
</head>
<body>
    <h1>Bonjour {{firstname}},</h1>
    <p>Votre numéro de commande : 0515616581456</p>
    <p>Récapitulatif des articles :</p>
    <ul>
        <li>Baobab</li>
    </ul>
    <p>Nous vous remercions encore une fois pour votre confiance</p>
    <h2>GreenRoots, parce qu’un arbre planté aujourd’hui est une forêt pour demain.</h2>
</body>
</html>
