<!DOCTYPE html>
<html>
<head>
    <title>Nouvelles informations concernant le suivi de votre arbre</title>
</head>
<body>
    <h1>Bonjour {{firstname}},</h1>
    <p>Votre arbre vient de recevoir une nouvelle mise à jour</p>
    <p>Mise à jour !!!</p>
    <h2>GreenRoots, parce qu’un arbre planté aujourd’hui est une forêt pour demain.</h2>
</body>
</html>
